<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SupportDocsConnection" value="DefaultEndpointsProtocol=https;AccountName=botthedocs;AccountKey=dWVvJJAvZ0QYVPF2/NHYkR9+SjX6fZEGWP4D50r1v8B1K7202/1/k+lWd+5o9gHlxsmS1lml9ekETXrzhlF8zA==;EndpointSuffix=core.windows.net" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=botthedocs;AccountKey=dWVvJJAvZ0QYVPF2/NHYkR9+SjX6fZEGWP4D50r1v8B1K7202/1/k+lWd+5o9gHlxsmS1lml9ekETXrzhlF8zA==;EndpointSuffix=core.windows.net" />
    <add key="StorageHtmlContainer" value="dochtml" />
    <add key="StorageMdContainer" value="docmd" />
    <add key="StorageImageContainer" value="docimages" />
    <add key="TextAnalyticsKey" value="854bf844550847e18a3bfcb0392bc44c" />
    <add key="AzureMLSupportTextKey" value="V/xCgpOfOdqxFXt9lTtnu1rzzG991+aOBHPjGAKKvOY2O/Z4x22HsLqG9F4Z5JnDiPOHc/cxpCO+OXxd7WT/GA==" />
    <add key="FilePath" value="c:\Temp\DocTester" />
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>